@import 'sizes.scss';

.wrapper {
  background-color: var(--clay);
  //border-radius: $radius;
  display: block;
  flex: 1;
  margin: 0 1rem;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
  transition: 0.3s;
  transition-property: transform;
  width: 33%;

  @media (max-width: $m) {
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
  }

  @media (min-width: $m) {
    &:hover {
      transform: scale(1.025);
      transition: 0.3s;
      transition-property: transform;
    }
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.textWrapper {
  max-width: 100%;
  padding: 2rem;
  text-align: left;
  z-index: 1;

  @media (min-width: $m) {
    max-width: 85%;
  }

  h2,
  h3,
  h4 {
    font-size: 1.75em;
    margin: 0;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 0.5rem;
  }
}

.button {
  bottom: 2rem;
  left: 2rem;
  position: absolute;
}
