@import 'sizes.scss';

.wrapper {
  background-color: var(--clay);
  margin: 0 auto;
  padding: 4rem;
  text-align: center;

  @media (max-width: $s) {
    padding: 4rem 2rem;
  }
}

.inner {
  margin: 0 auto;
  max-width: $m;
  text-align: center;
}

.container {
  padding: 0 1rem;
  cursor: move;
}

.citat {
  font-size: 1em;
}
