@import 'sizes.scss';

.main {
  background-color: var(--clay);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  min-height: 450px;
  text-align: center;
  padding: 3rem 1rem;

  @media (max-width: $s) {
    margin-top: 1rem;
  }
}

.top {
  margin: 0 auto;
  max-width: 600px;
}

.socials {
  margin-top: 1rem;
}

.socials a {
  margin: 0 0.25rem;
}

.middle {
  margin: 2rem auto;
}

.bottom {
  opacity: 0.25;
}

.bottom:hover {
  opacity: 1;
}

.menuFooter {
  justify-content: center;
  flex-direction: column;
  line-height: 2;

  @media (min-width: $l) {
    flex-direction: row;
    line-height: 1;
  }
}

.policy {
  margin-bottom: 1rem;
  opacity: 0.25;
}

.policy a:hover {
  text-decoration: underline;
  opacity: 1;
}
