@import "sizes.module";

.footer {
  background-color: var(--light-accent);
  margin: 0 auto;
  width: 100vw;
}

.columns {
  //border-top: 1px solid rgb(200, 200, 200);
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--section-padding);
}

.column {
  margin-right: 5vw;
  width: 25vw;
}

.textArea {

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.menuList {
  list-style: none;
  line-height: 2;
  padding: 0;

  .menuItem a {
    text-decoration: none;
    color: var(--black);
  }
}

.active {
  text-decoration: underline;
  text-underline-offset: .33rem;
}

.copyrights {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 1rem var(--section-padding) 3rem;
}

@media (max-width: $small) {
  .footer {
    padding: 3rem var(--section-padding) 0;
  }

  .columns {
    flex-direction: column;
  }

  .column {
    margin-bottom: 2.5rem;
    width: 100%;
  }
}