html,
body {
  background-color: var(--main-background);
  color: var(--black);
  font-family:
    "Rubik",
    avenir,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: clamp(16px, 1.1vw, 1.1vw);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-accent);
  text-decoration: underline;
  text-underline-offset: .33rem;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--main-accent);
}

h1 {
  font-size: clamp(2rem, 4vw, 4vw);
}

h2 {
  font-size: clamp(1.75rem, 2.5vw, 2.5vw);
}

h3 {
  font-size: clamp(1.25rem, 1.5vw, 1.5vw);
}

h4, h5, h6 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  line-height: 1.75;
}

.rubik-normal {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --black: #000;
  --white: #fff;
  --main-accent-original: #FF6CB5;
  --main-accent: #FF3499;
  --light-accent: #FFEFF7;
  --main-background: #FFFCF8;
  --max-width: 95vw;
  --section-padding: 5vw;
  --text-color: var(--black);
}
