html,
body {
  background-color: var(--sand);
  color: var(--dark);
  font-family:
    'Nunito Sans',
    avenir,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

.link:hover {
  opacity: 0.5;
}

.artikelCitat {
  border-left: 1px solid #B3896D;
  color: #B3896D;
  font-size: 1.3em;
  font-family: 'Cormorant', serif;
  margin: 2rem auto;
  padding-left: 1rem;
}

.slick-next::before,
.slick-prev::before {
  color: var(--dark) !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant', serif;
  font-weight: 500;
  margin-block-end: 1.5rem;
  margin-block-start: 1.5rem;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.6em;
}

p {
  line-height: 1.5;
}

:root {
  --black: #000;
  --white: #fff;
  --dark: #5F433C;
  --lightDark: rgb(207, 176, 168);
  --darker: #1d0d0a;
  --darkSand: #ffe8cf;
  --sand: #F7EDE7;
  --sand: #FFF8F4;
  --clay: #E3D3C3;
  --rosa: #C5B6B3;
  --darkRosa: #8B6A62;
  --darkGreen: #6E7167;
}
