@import 'sizes.scss';

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: $xl;
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 9;

  @media (min-width: $l) {
    padding: 1.5rem 2rem;
  }
}

.logoWrapper {
  width: 140px;
}

.menuWrapper {
  align-items: center;
  color: var(--sand);
  display: flex;
}

@media (max-width: $l) {
  .desktopMenu {
    display: none;
  }
}

.button {
  align-items: center;
  border: 1px solid var(--sand);
  display: inline-flex;
  height: 2.4rem;
  padding: 0 1rem;
}

.button:hover {
  background-color: var(--sand);
  border: 1px solid var(--sand);
  color: var(--dark);
}

.menuOpenButton {
  align-items: flex-start;
  border: 1px solid var(--sand);
  display: inline-flex;
  flex-direction: column;
  height: 2.4rem;
  justify-content: center;
  margin-left: 0.25rem;
  padding: 0 0.55rem;
  text-align: left;
  width: 3.2rem;

  @media (min-width: $l) {
    display: none;
  }

  span {
    background-color: var(--sand);
    content: '';
    display: block;
    height: 1px;
    margin: 3px 0;
    position: relative;
    width: 100%;

    &:last-of-type {
      width: 50%;
    }
  }
}

.mobileMenu {
  background-color: var(--white);
  display: block;
  left: 0;
  height: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  .menuListMobile {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
    padding: 1rem;
  }
}

.menuCloseButton {
  align-items: center;
  display: flex;
  height: 2.4rem;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.4rem;

  span {
    background-color: var(--darker);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;

    &:first-of-type {
      transform: rotate(-45deg);
    }

    &:last-of-type {
      transform: rotate(45deg);
    }
  }
}

.menuIsOpen {
  display: flex;
  visibility: visible;
}
