@import "sizes.module";

.heroSection {
  height: 42vw;
  position: relative;
  width: 100vw;
}

.content {
  color: var(--main-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
  width: 42%;

  .title {
    color: inherit;
  }

  .link {
    color: inherit;
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: .3rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.background {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 0;
  width: 100%;
}

.video,
.image {
  animation: fadeIn 2s ease 1s forwards;
  opacity: 0;
}



// Define the fade-in keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $small) {
  .heroSection {
    height: 100vw;
  }

  .video {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}