@import 'sizes.scss';

.main {
  background-color: var(--sand);
  min-height: calc(100vh - 450px);
  position: relative;
}

.modal {
  background-color: var(--white);
  border-radius: $radius;
  bottom: 1rem;
  height: 200px;
  position: fixed;
  right: 1rem;
  width: 300px;
  z-index: 9;

  .closeModal {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
