@import 'sizes.scss';

.wrapper {
  margin: 6rem auto;
  max-width: $m;
  text-align: center;
  padding: 1rem;
}

.form input,
.form button {
  background-color: var(--sand);
  border: 1px solid var(--darkRosa);
  border-radius: calc($radius / 3);
  font-size: 1em;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.container {
  margin: 2rem auto;
  max-width: $s;
}

.form input {
  color: var(--darkRosa);
}

.form button {
  background-color: var(--darkRosa);
  color: var(--sand);
  cursor: pointer;
  transition: 0.3s;
  transition-property: background-color;
}

.form button:hover {
  background-color: var(--dark);
  border-color: var(--dark);
  transition: 0.3s;
  transition-property: background-color;
}

.form input::placeholder {
  color: var(--lightDark)
}

.newsletter {
  align-items: center;
  background-color: var(--dark);
  color: var(--sand);
  display: flex;
  height: 300px;
  margin-top: 6rem;

  .inner {
    margin-inline: auto;
    max-width: $m;
    text-align: center;
    width: 100%;

    p {
      font-weight: 300;
    }
  }

  .signUpButton {
    background-color: var(--sand);
    color: var(--dark);
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
  }
}
