@import 'sizes.scss';

.list {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li,
  .dropdownContainer {
    margin-right: 1rem;
  }

  li:hover {
    text-decoration: underline;
  }

  .dropdownLink:hover {
    text-decoration: underline;
  }
}

.dropdownContainer span {
  margin-right: 0.25rem;
}

@media (min-width: $l) {
  .dropdown {
    color: var(--dark);
    display: none;
    padding: 1rem 0;
    position: absolute;
    transition: 0.3s;
    transition-property: opacity;
    top: 50px;
    visibility: hidden;
    width: auto;

    ul {
      background-color: var(--clay);
      cursor: pointer;
      list-style: none;
      line-height: 1.75;
      padding: 0.75rem 1rem;
    }
  }

  .dropdownContainer:hover .dropdown {
    display: block;
    visibility: visible;
  }
}

@media (max-width: $l) {
  .dropdown ul {
    font-size: 0.8em;
    line-height: 2;
  }
}
