@import 'sizes.scss';

.list {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li,
  .dropdownContainer {
    margin-right: 1rem;
  }

  li:hover {
    text-decoration: underline;
  }

  .dropdownLink svg {
    height: 9px;
    width: 9px;
  }

  @media (max-width: $m) {
    .dropdownLink svg path {
      fill: var(--dark);
    }
  }
}

.dropdownContainer span {
  margin-right: 0.25rem;
}

@media (min-width: $l) {
  .dropdown {
    color: var(--dark);
    display: none;
    padding: 1rem 0;
    position: absolute;
    transition: 0.3s;
    transition-property: opacity;
    top: 50px;
    visibility: hidden;
    width: auto;

    ul {
      background-color: var(--clay);
      cursor: pointer;
      list-style: none;
      line-height: 1.75;
      padding: 0.75rem 1rem;

      li {
        margin-right: 0;
      }
    }
  }

  .dropdownContainer:hover .dropdown {
    display: block;
    visibility: visible;
  }
}

@media (max-width: $m) {
  .dropdownContainer ul {
    display: none;
  }

  .dropdownContainer .dropdownOpened ul {
    display: block;
  }

  .dropdownContainer ul li {
    opacity: 0;
    transition: 0.6s;
    transition-delay: 0.1s;
    transition-property: opacity;
  }

  .dropdownContainer .dropdownOpened ul li {
    opacity: 1;
    transition: 0.6s;
    transition-delay: 0.1s;
    transition-property: opacity;
  }
}

@media (max-width: $l) {
  .dropdown ul {
    font-size: 0.8em;
    line-height: 2;
  }
}

.socials {
  border-left: 1px solid var(--sand);
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: $m) {
    border: 0;
    margin-top: 2rem;
    padding: 0;
  }

  a {
    display: inline-block;

    @media (max-width: $m) {
      align-items: center;
      display: flex;
      font-size: 18px;
      line-height: 2;
      text-decoration: none;
    }
  }

  span {
    display: none;

    @media (max-width: $m) {
      display: inline-block;
    }
  }

  a svg {
    height: 1.25rem;
    margin: 0 0.5rem;
    width: 1.25rem;

    @media (max-width: $m) {
      margin-left: 0;
    }
  }

  a svg path {
    fill: var(--white);

    @media (max-width: $m) {
      fill: var(--dark);
    }
  }
}
