@import "sizes.module";

.menu {
  background-color: var(--main-background);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.menuInner {
  align-items: center;
  color: var(--main-accent);
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--section-padding);
  width: 100vw;
}

.logo {
  font-family: "Handlee", cursive;
  font-size: 1.75rem;

  a {
    text-decoration: none;
  }
}

.menuList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-right: 2vw;
  position: relative;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dropdownToggle {
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 200%;
  left: 0;
  background-color: var(--light-accent);
  list-style: none;
  padding: 1rem;
  z-index: 1;
  width: 200%;

  .dropdownItem {
    margin-bottom: 5px;

    a {
      padding: 5px;
      display: block;
    }
  }

  .dropdownItem:last-child {
    margin-bottom: 0;
  }
}

.dropdownMenu.display {
  display: block;
}

.active {
  text-decoration: underline;
  text-underline-offset: .33rem;
}

.mobileMenuToggle {
  align-items: center;
  background-color: var(--main-accent);
  border-radius: 50%;
  display: none;
  justify-content: center;
  flex-direction: column;
  height: 2.8rem;
  width: 2.8rem;

  span {
    background-color: var(--main-background);
    display: block;
    height: .15rem;
    margin: .15rem auto;
    width: 1.6rem;
  }
}

@media (max-width: $small) {
  .menuInner {
    max-width: 100%;
    position: relative;
    z-index: 9;
  }

  .menuList {
    background-color: var(--main-background);
    box-shadow: 0 0 400px var(--black);
    display: none;
    left: 0;
    line-height: 2;
    padding: 100px var(--section-padding) var(--section-padding);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .mobileMenuToggle {
    display: flex;
  }

  .menuIsOpen {
    display: block;
  }

  .dropdownMenu {
    background-color: var(--main-background);
    line-height: 1;
    position: relative;
    width: auto;
  }

  .closeIcon span:last-of-type {
    display: none;
  }

  .closeIcon span {
    position: absolute;
  }

  .closeIcon span:first-of-type {
    transform: rotate(-45deg);
  }

  .closeIcon span:nth-of-type(2) {
    transform: rotate(45deg);
  }
}