@import "sizes.module";

.priceSection {
  width: 100vw;
}

.inner {
  align-items: flex-start;
  background-color: var(--light-accent);
  border-radius: 2vw;
  display: flex;
  margin: 5rem auto;
  max-width: calc(var(--max-width) - 2 * var(--section-padding));
  padding: var(--section-padding);
}

.column {
  width: 50%;
}

.title {
  margin-top: 0;
}

.column:first-of-type {
  padding-right: 5rem;
}

.column:last-of-type {
  padding-left: 5rem;
}

.sessionTitle {
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  font-weight: 500;
  margin: 0;
}

.session {
  color: var(--main-accent);
  font-size: 80%;
  margin-bottom: 2rem;
}

.session p {
  margin: 0;
}

@media (max-width: $small) {
  .inner {
    flex-direction: column;
  }

  .column {
    margin-top: 2rem;
    padding: 0 !important;
    width: 100%;
  }
}
