@import 'sizes.scss';

.categories,
.articles {
  margin: 3rem auto 3rem;
  text-align: center;
  padding: 0 1.25rem 1.5rem;

  @media (min-width: $m) {
    margin: 6rem auto;
    padding: 0 1rem;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.25;
    margin: 1rem auto;
    max-width: 500px;

    @media (min-width: $m) {
      font-size: 1.75em;
      margin: 2rem auto;
    }
  }
}

.inner {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: $xl;
  padding: 0 2.5rem;
  position: relative;

  @media (max-width: $m) {
    flex-direction: column;
    padding: 0;
  }
}

.imageWithText {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin: 9rem auto;
  max-width: $m;

  @media (max-width: $m) {
    display: block;
    margin: 3rem auto;
    padding: 1.25rem;
  }

  .textBox,
  .imageBox {
    display: block;
    flex: 1;
    max-width: 50%;

    @media (max-width: $m) {
      max-width: 100%;
    }
  }

  .imageBox {
    border-radius: $radius;
    overflow: hidden;
  }

  .textBox {
    padding-right: 4rem;

    @media (max-width: $m) {
      margin-top: 2rem;
      padding-right: 0;
    }

    h2 {
      margin: 0;
    }

    p {
      margin-top: 0.5rem;
    }
  }
}

.left {
  flex-direction: row;

  .textBox {
    padding-left: 4rem;
    padding-right: 0;

    @media (max-width: $m) {
      padding: 0;
    }
  }
}

.button {
  display: block;
  margin-top: 2rem;
  text-decoration: underline;

  span {
    margin-right: 0.25rem;
  }

  &:hover {
    opacity: 0.5;
  }
}
