@import 'sizes.scss';

.wrapper {
  background-color: var(--sand);
  //text-align: center;
}

.inner {
  margin: 0 auto;
  max-width: $m;
  padding: 3rem 1rem;

  @media (max-width: $m) {
    padding: 2rem 1rem;
  }

  p {
    text-align: justify;
  }
}
